@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


.logo {
 width:90px;
 border-radius: 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: rgb(119, 166, 144);
    color: rgb(22, 2, 2); 
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(251, 242, 242);
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

.btn{
    background-color: rgb(88, 81, 191);
    color: white;
    border: 2px solid red;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    width: 125px;
    height: 25px;
    margin-top: 6px;
}

.watch{
    margin-top: 2px;
    font-size: 20px;
    color: rgb(12, 2, 2);
    display: flex ;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 120, 120);
    height: 500px;
}

.watch img{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    border-radius: 15px;
}
.watch p{
    width: 600px;
    line-height: 1.6;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.watch button{
    border: 2px solid red;
    color:white;
    background-color: rgb(68, 174, 174);
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

.coll{
    text-align: center;
    font-size: 40px;
    color: rgb(12, 2, 2);
    margin-top: 20px;
}
.latest{
    text-align: center;
    font-size: 20px;
    color: rgb(12, 2, 2);
    margin-top: -10px;
}
.men{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.kid{
    border: 2px solid red;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    cursor: pointer;
    box-shadow: 5px 5px 5px  grey;
}

.container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.CARD{
    margin-top: 30px;
    border: 2px solid red;
    background-color: aliceblue;
    width: 280px;
    height: 390px;
    text-align: center;
    border-radius: 8px;
}

.CARD img{
    width: 270px;
    height: 240px;
    border-radius: 9px;
    margin: 3px;
}
.CARD h4{
    color: red;
    font-weight: bold;
}
.CARD H2{
    font-size: 22px;
    font-weight: bold;
}
.CARD button{
    border: 2px solid red;
    color:white;
    background-color: rgb(68, 174, 103);
    font-weight: bold;
    border-radius: 5px;
    height: 23px;
    cursor: pointer;
    margin:2px 10px;
}

.life{
    background-color: rgb(28, 27, 27);
}

.design{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}
.des{
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    color: white;
    font-size: 30px;
}
.des1{
    font-size: 24px;
    color: grey;
    padding: 20px;
}
.design p{
    font-size: 28px;

    line-height: 1.6;
    color: white;
}
.design button{
    border: 2px solid red;
    background-color: rgb(8, 8, 9);
    color:white;
    cursor: pointer;
    height: 200px;
    width: 160px;
    border-radius: 8px;
    margin-top: 20px;
margin-left: 20px;
}
.image-container{
    margin: 20px;
}
.image-container img{
    width: 500px;
    height: 400px;
    border-radius: 15px;
}


.min-card{
    background-color: whitesmoke;
    width: 300px;
    height: 350px;
}
.min-card img{
    width: 290px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
}
.in i{
    font-size: 50px;
    color: rgb(33, 2, 2);
    background-color: aliceblue;
    border-radius: 40px;

}
.in p{
    font-size: 14px;
}

.get{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* forms */
    .contact-form {
        margin: 50px auto;
        padding: 25px;
        gap: 10px;
        text-align: center;
        display: flex;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .contact-form input,
    .contact-form textarea {
        width: 70%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact-form button {
        width: 70%;
        padding: 10px;
        background: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact-form button:hover {
        background: #333;
    }

    
/* Info Section */

.contact{
    padding:10px 20px;
}

.info-box {
    margin-bottom:20px;
    background-color: #a09898;
    border-radius: 7px;
    height: 80px;
    width: 200px;
    text-align: center;
}




@media (max-width: 768px) {

   .navbar {
        flex-wrap: wrap;
        height: auto;
    }

    .nav-links a {
        font-size: 22px;
    }

  .btn {
    width: 65px;
    height: 35px;
  }
    .watch {
        flex-direction: column;
        height: auto;
    }

    .watch img {
        width: 300px;
        height: 300px;
    }

    .watch p {
        width: 90%;
        font-size: 20px;
    }
    
    .CARD img{
        width: 220px;
        height: 200px;
    }
    .design {
        flex-direction: column;
    }

    .image-container img {
        width: 90%;
        height: auto;
    }

    .CARD {
        width: 240px;
    }
} 

